
*{
   background-color:  #d6effb;  
   
   }
   
   .consulta{
border: 2px solid black;
color: white;  
background-color: #0570de;
text-align: center;
font-size: 30px;

   }
   footer{
      background-color: #00a6fb;
      color: white;
      margin-top: 45px;
      padding: 0px;
      width: 1452px;
      height: 150px;
      text-align: bottom;
    }
*{
   overflow: hidden;
}